.button {
	// margin-left: 40px;
	padding: 10px 15px;
	background: rgb(12, 110, 221);
	color: rgb(214, 208, 208);
	font-weight: bold;
	border: none;
	border-radius: 5px;
	cursor: pointer;

	&:hover {
		background: rgb(0, 119, 255);
		color: white;
	}
}
